.BackGround{
    height:calc(100vh - 0px);
    width: 100%;
    background-color: #111b29;
}


.ingreso{
    //background-color: #111b29;
    float: right;
    margin-top: 2vmin;
    margin-right: 10vmin;
}

.imagenFondo{
    height: 100%;
}

.imagen{
    position: absolute;
    width: 100%;
    opacity: 0.55;
    bottom: -5%;
}

