.BackGround{
    height:calc(100vh - 0px);
    width: 100%;
    background: url(https://assets.tryhackme.com/img/svgs/star-pattern.svg);
    background-color: #111b29;
    .estrellas{
        position: absolute;
        z-index: 0;
        width: 2000px;
    }

    .presentacion{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center
    }
    .container{
        width: 80%;
        height: 50%;
    }
}


.ingreso{
    float: right;
    margin-top: 2vmin;
    margin-right: 10vmin;
}

.imagenFondo{
    height: 100%;
    bottom: -2vh;
}

.imagen{
    position: absolute;
    opacity: 0.55;
    overflow: hidden;
    bottom: -5%;
}
.imagen2{
    width:17vh;
    height:17vh;
    animation: float 6s ease-in-out infinite;
    animation-delay: 1s;
}

.todoEspacio{
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}

.tituloPrincipal{
    font-weight: 700;
    text-align: center; 
    font-size: 5.5vh;
    margin-top: 3%;
}
.textoPrincipal{
    text-align: center; 
    font-size: 3vh;
    opacity: 0.75;
}

.subtitulo{
    font-size: 3vh;
}

.textoSecundario{
    font-size: 1.75vh;
    opacity: 0.75;
}

.espaciado{
    margin-top: 6.5%;
}

@keyframes float {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}