.barra{
    width:100%;
    position: fixed;
    z-index: 1000;
}

.navbar-fondo2 {
    transition: all .5s ease-in-out;
    background-color: #212c42;
}
.navbar-fondo {
    transition: all .5s ease-in-out;
    background-color: transparent;
}

.Logo {
    filter: brightness(0) invert(1);
    width: 15vh; 
    height: 9vh;
    margin-left: 21%;
    &:hover{
        cursor: pointer;
    }
}

@media screen and (max-width: 800px){
    .Logo{
        opacity: 0;
    }
}
@media screen and (max-width: 1500px){
    .Logo{
        margin-left: 0;
        opacity: 0;
    }
    .contenedorIconos{
        p{
            display: none;
        }
    }
}
@media screen and (max-width: 575px){
    .contenedorIconos{
            display: none;
    }
}
.botones{
    width: auto;
    height: auto;
    font-size: 130%;
    margin-right: 26%;
}

.LogIn{
    background-color: transparent;
    border: none;
    color: white;
    opacity: 50%;
    margin-right: 15%;
    font-size: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        opacity: 70%;
        cursor: pointer;
    }
}

.joinNow{
    width: 12vh;
    height: 4vh;
    size: 100%;
    font-size: 80%;
    border-radius: 5%;
    background-color: #88cc14;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        cursor: pointer;
    }
}

.tamaño{
    border: none;
    background-color: #88cc14;
    border-radius: 5%;
    color: white;
    width: auto;
    height: auto;
}

.contenedorIconos{
    width: 20%;
    height: 3.5vh;
    color: white;
    opacity: 0.5;
    position: relative;
    text-align: center;
    left: 1%;
    margin-right: auto;
    transition: all .5s ease-in-out;
    p{
        font-size: 1.8vh;
    }
    &:hover{
        opacity: 1;
        cursor: pointer;
    }

    .iconos{
        width:3.5vh;
        height:3.5vh;
    }
}

.contenedorIconosNone{
    display:none;
    transition: all .5s ease-in-out;
}

.contenedorPrincipal{
    width: 100%;
}

.whiteColor{
    color:white;
}