.barra{
    width:100%;
    height:80%;
}

.navbar-fondo {
    background-color: #212c42;
}

.Logo {
    filter: brightness(0) invert(1);
    width: 7%; 
    height: 7%;
    margin-left: 21%;
}

.botones{
    width: auto;
    height: auto;
    font-size: 130%;
    margin-right: 26%;
}

.LogIn{
    background-color: transparent;
    border: none;
    color: white;
    opacity: 50%;
    margin-right: 10%;
    font-size: 80%;
    &:hover{
        opacity: 70%;
        cursor: pointer;
    }
}

.joinNow{
    width: 100%;
    height: auto;
    font-size: 100%;
    &:hover{
        cursor: pointer;
    }
}

.tamaño{
    border: none;
    border-radius: 5%;
    color: white;
    width: auto;
    height: auto;
    background-color: #88cc14;
}