@import "bootstrap";
@import "../components/App/Principal/Principal.scss";
@import "../components/App/Info/Info.scss";
@import "../components/App/Header/Header.scss";
@import "../components/App/Final/Final.scss";

.Contenedor{
    height:100%;
    width:100%;
}
#app{
    background-color:#fafafa;
}
.Header {
    width:100%;
}
.Principal{
    height:calc(100vh - 0px);
}
.Final{
    height:calc(100vh - 0px);
}
.Info{
    width:100%;
}

html, body{
    height:100%;
}

.fondo {
    background-color:#111b29;
}
$bg-dark: #111b29;
